@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #bf9f88;
    font-family: "Poppins", sans-serif;
}
nav header{
    position: fixed;
}

/* Formatações da Home */
.options-user{
    flex-wrap: wrap;
    display: flex;
    justify-content:space-around;
}

.choose-user {
    background-color: #702055;
    text-decoration: none;
    color: white;
    width: 300px;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.tittle {
    color: white;
    text-align: center;
    margin-bottom: 100px;
}

/* Formulários de inscrição */

.register-admin-form {
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.btn-form {
    background-color: #702055;
    text-decoration: none;
    color: white;
    width: 200px;
    padding: 5px;
    font-size: 18px;
    border: none;
    text-align: center;
}
.form-control {
    border-color: #f89051;
}

/* Home do administrador */

.options-home-admin {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.option-home-admin {
    background-color: #702055;
    text-decoration: none;
    color: white;
    width: 350px;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.detail-option {
    text-decoration: none;
    color: #f89051;
    font-size: 20px;
}

/* Tela de lista de usuários */
.users-list {
    padding: 20px;
}

.actions-form {
    display: flex;
    justify-content: space-around;
}
.btn {
    background-color: #f89051;
}
.btn-search {
    border: none;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #702055;
}
.tittle1 {
    color: white;
    text-align: center; 
}

/* Edição de inscrição */
.inscription-edit-form {
    background-color: white;
    padding: 20px;
}

.register-inscription-form {
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.codigo-beneficiario {
    color: white;
    text-align: center;
    margin-bottom: 100px;
    color: #702055;
    font-size: 20px;
    text-align: center;
}

.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px; 
    background-color: #C16D63;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    float: left;
}

.navbar li a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
  }

.navbar a img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    vertical-align: middle;

}

.auth-button {
    position: relative;
    background-color: #702055;
    border-radius: 10%;
    font-size: 10px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    margin-right: 12px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.content {
    background-color: #702055;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 600px;
    padding-top: 300px;
    text-align: center;
    color: white;
}

.about-us {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 50px;
    background-color: #FFFFFF;
}

.about-us-item {
    padding: 20px;
    font-size: 25px;
    text-align: center;
}

.about-us-item img {
    width: 400px;
    height: 300px;
}

.about-admin {
    display: grid;
    grid-template-columns: auto auto;
    height: 500px;
}

#about-admin-img {
    background-color: #F5F2D0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-admin{
    background-color: #702055;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.about-admin-item img {
    max-width: 300px; /* Garante que a imagem não ultrapasse o tamanho do container */
    height: auto; /* Altura automática para manter a proporção */
    display: block; /* Remove espaços extras em volta da imagem */
    margin: 0 auto;
}

.text-events {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 250px;
    padding-top: 80px;
    text-align: center;
    color: black;
    font-size: larger;

}

.events {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #FFFFFF;
}

.events img {
    width: 400px;
    height: auto;
}

.events-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.partners {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    background-color: #FFFFFF;
    height: 600px;
}

.partners-item img {
    width: 100px;
    height: auto;
}

.partners-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.text-partners {
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 250px;
    padding-top: 80px;
    text-align: center;
    color: black;
    font-size: larger;
}

.text-partners ul {
    display: grid;
    grid-template-columns: auto auto;

}

.text-partners ul li {

    position: relative;
    background-color: #702055;
    font-size: 10px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    margin-right: 12px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;

}

.contacts {
    background-color: #F5F2D0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 600px;
    padding-top: 80px;
    text-align: center;
    color: black;
    font-size: larger;
}

footer {

    text-align: center;
}